*{
    margin: 0px;
    padding: 0px;
}

.container{
    display:grid;
    grid-template-columns:25% 25% 50% ;
    grid-template-rows: 50px 154px 50px 240px 80px 50px ;

}
.container > *{
    background-color: rgb(20, 27, 27);
    margin: 0.1em;
    font-size: 20px;
    color: white;
    border: 0.5px solid black;
    display: flex; 
    justify-content: center;
    align-items: center;
    
}
.a1, .a2, .a3{
    background-color: rgb(109, 223, 16);

}
.b1, .b2, .b3{
    background-color: rgb(255, 251, 0);
}
.c1, .c2, .c3{
    background-color: rgb(5, 187, 187);
}
.d1{
    background-color: rgb(248, 123, 217);
}
.d2{
    background-color: rgb(71, 83, 245);
}
.d3{
    background-color: aquamarine;
}
.e1{
background-color: rgb(248, 123, 217);
}
.e2, .e3{
    background-color: rgb(255, 175, 2);
}
.f1, .f2, .f3{
    background-color: rgb(231, 4, 4);
}

@media all and (max-width: 900px){
    .a1, .a2, .a3, .b1, .b2, .b3, .c1, .c2, .c3, .d1, .d2, .d3, .e1, .e2, .e3, .f1, .f2, .f3{
        grid-column: 1 / span 3;
    }
    .container{
        grid-template-rows: repeat(18, 100px);

    }
}

@media all and (max-width: 600px){
    .a1, .a2, .a3, .b1, .b2, .b3, .c1, .c2, .c3, .d1, .d2, .d3, .e1, .e2, .e3, .f1, .f2, .f3{
        grid-column: 1 / span 3;
    }
    .container{

        grid-template-rows: repeat(18, 100px);

    }
}